In [9]:
%%html
<style>
  table {margin-left: 0 !important;}
</style>

# Tables:


## <b>Employee

### <i>Structure & <i>Example
    
| Column  | DTYPE  | 
|---|---|
| EMP_ID  | INT |
| EMPLOYEE_NAME  | VARCHAR | 
     
     
| EMP_ID  | EMPLOYEE_NAME  |
|---|---|
| 0974  | Brian |
| 1235  | Bobby | 
| 3627  | Sam |
| 5124  | Ann|
| 4638  | Brian| 
| 5727  | Carrie |

## <b> EmployeeSalary

### <i>Structure & <i>Example
| Column  | DTYPE  |
|---|---|
| SALARY  | DECIMAL | 
| EMP_ID | INT |

| SALARY  | EMP_ID  |
|---|---|
| 20.02  | 5727 | 
| 13.54 | 4638 | 
| 17.98 | 5124 |
| 17.98 | 1235 |
| 35.16 | 3627 | 
| 24.31 | 0974 |

## <b>Manager
    
### <i>Structure \& Example

| Column  | DTYPE  |
|---|---|
| MANAGER_NAME  | VARCHAR | 
| EMP_ID | INT |

| MANAGER_NAME  | EMP_ID  |
|---|---|
| Carrie  | 5727 | 
| Brian | 0974 |
| Sam | 3627 |

<b>Q1. Write a SQL query to find the position of the letter (‘a’) for employees named Brian from the <i>Employee</i> table above.

<b>Q2. What is a general way to clone(copy) a table without information is?

<b>Q3. Write a SQL query to fetch the names of workers who earn the highest salary using the tables above.

<b>Q4. Write a SQL query to find the maximum, minimum, and average salary of the employees using the tables above.

<b>Q5. Write a SQL query to fetch records that are present in the <i>Employee</i> table but not in the <i>Manager</i> table.